h1 {
  font-size: 20px;
  line-height: 2;
  margin: 0;
}
code {
  font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 5px;
  border-radius: 5px;
  max-height: 500px;
  padding: 0 0 0 0;
  margin-top: 3px;
}

.code {
  background: #2d2d2d;
  color: #ccc;
  /* you must provide font-family font-size line-height. Example: */
  font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 5px;
  border-radius: 5px;
  max-height: 500px;
}
p {
  margin: 0 0 0 0;
}
.card-container {
  height: 450px;
}

.card {
  height: 140px;
  margin-bottom: 5px;
}
